/* CSS RESET */

/*
  Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
  - The "symbol *" part is to solve Firefox SVG sprite bug
*/
*:where(:not(iframe, canvas, img, svg, video):not(svg *, symbol *)) {
  /* display: revert; */
}
/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* Reapply the pointer cursor for anchor tags */
a {
  cursor: revert;
}
/* Remove list styles (bullets/numbers) */
ol,
ul,
menu {
  list-style: none;
}
/* For images to not be able to exceed their container */
img {
  max-width: 100%;
}
/* removes spacing between cells in tables */
table {
  border-collapse: collapse;
}
/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}
/* fix the feature of 'hidden' attribute.
 display:revert; revert to element instead of attribute */
:where([hidden]) {
  display: none;
}
/* revert for bug in Chromium browsers
 - fix for the content editable attribute will work properly. */
:where([contenteditable]) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
}
/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable="true"]) {
  -webkit-user-drag: element;
}

/* CSS RESET */

body {
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poiret One", cursive;
}

h1 {
  font-size: 48px;
  font-weight: bold;
}

p {
  font-size: 18px;
}

a {
  text-decoration: none !important;
  font-family: "Poiret One", cursive;
  letter-spacing: 0.1rem;
}

nav {
  background-color: #1f2937;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  vertical-align: middle;
  max-height: 100px;
  padding: 1rem 0.5em;
}

nav li {
  display: inline;
  line-height: 1;
}

nav li a {
  text-decoration: none;
  color: #e5e7eb;
  transition: 0.3s all ease-in-out;
  font-weight: bold;
  margin: auto 1rem;
  background: linear-gradient(to right, #00ddeb, #00ddeb), linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
  background-size: 0 1px, 0 1px;
  background-position: 100% 50%, 0 50%;
  background-repeat: no-repeat;
}

nav li a:hover {
  background-size: 0 2rem, 100% 2rem;
}
section {
  padding: 2rem 15rem 5rem;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.header-img > svg {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.hero-section {
  background-color: #1f2937;
  margin: 0;
}

.hero-section > .row > .hero-text > h1 {
  margin-top: 0;
  color: #f9faf8;
  margin-block-end: 0;
}

.hero-text {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  color: #e5e7eb;
}

.hero-img img {
  max-width: 700px;
  padding: 0.3rem 0.3rem 0.1rem;
}

.hero-img {
  max-width: 700px;
  height: auto;
  border-radius: 10px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 5px 10px -5px;
  background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
}

.hero-btn_holder {
  margin: 1rem 0;
}

/* BUTTON */

/* From cssbuttons.io by @kirzin */
.hero-btn {
  text-decoration: none;
  position: absolute;
  border: none;
  font-size: 14px;
  color: #fff;
  width: 15em;
  height: 3em;
  line-height: 3em;
  text-align: center;
  background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  background-size: 300%;
  border-radius: 10px;
  z-index: 1;
}

.hero-btn:hover {
  animation: ani 8s linear infinite;
  border: none;
}

@keyframes ani {
  0% {
    background-position: 0%;
  }

  100% {
    background-position: 400%;
  }
}

.hero-btn:before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;
  background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  background-size: 400%;
  border-radius: 10px;
  transition: 1s;
}

.hero-btn:hover::before {
  filter: blur(20px);
}

.hero-btn:active {
  background: linear-gradient(32deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
}

/* BUTTON */

/* From cssbuttons.io by @SharpTH */
.card {
  cursor: pointer;
  width: 190px;
  height: 254px;
  background: rgb(255, 255, 255);
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 255, 0.2);
  transition: all 0.2s;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, 0.2);
}

.card:hover {
  box-shadow: -12px 12px 2px -1px rgba(0, 0, 255, 0.2);
}
